<div class="contact-us">
  <div class="container">
    <div class="row">
      <div class="col-12 pt-lg-2 text-center text-lg-left">
        <div class="px-3 px-lg-0 pt-lg-1 my-3 contact-us-header"><h2>Delivery Status for #<%= @order.number %></h2></div>
      </div>
      <div class="col-12 text-lg-left text-center pb-2">
        <p>If you have any questions, please <a href="<%= @contact_link.present? ? @contact_link : '/pages/contact-us' %>" class="text-danger"> contact us</a> or email us at
          <a href="mailto: <%= current_store.contact_email %>" class="text-danger"><%= current_store.contact_email %></a></p>
      </div>
      <div class="col-12 col-lg-2 mt-lg-0">
      </div>
      <div class="col-12 col-lg-8 mt-lg-0">
        <div class="jumbotron">
          <h3>Ship to</h3> 
          <p><%= render 'spree/shared/address_line', address: @order.shipping_address %></p>

          <div class="order-timeline">

              
            <div class="TrackingDetail--wrapper--dYB8BZz">
                <div class="TrackingDetail--content--1z77zJa">
                    <div class="TrackingDetail--trackList--3VTKVZH">
                        <div class="TrackingDetail--shipSteps--kvxVRO1">

                          <div class="TrackingDetail--step--2sEzXUy TrackingDetail--firstStep--dSIAnAW">
                            <div class="TrackingDetail--verticalLine--3mb4BXa TrackingDetail--firstVerticalLine--1y0QYTf"></div>
                            <div class="TrackingDetail--iconNode--37DhYe-"><span class="TrackingDetail--iconNodeCircle--1l6Ys4-" data-spm-anchor-id="0.0.0.i0.43927e30fkEkoI"></span></div>
                            <div class="TrackingDetail--stepContent--2n0dtpG undefined TrackingDetail--stepContentHeadGrey--13kDuUL">
                                <span class="TrackingDetail--head--20GpNSP"><%= @events[:delivered][:description] %></span>
                                <div class="TrackingDetail--timeInfoWrap--Ad4suAI">
                                    <div class="TrackingDetail--time--3ZQQn_H"><span class="TrackingDetail--timeText--3x08R3x"></span></div>
                                </div>
                            </div>
                          </div>


                          <div class="TrackingDetail--step--2sEzXUy">
                            <div class="TrackingDetail--verticalLine--3mb4BXa"></div>
                            <div class="TrackingDetail--iconCurrent--m_lTx8F TrackingDetail--iconCurrentCenter--2s1WA_v">
                                <img class="TrackingDetail--stepIconImg--1B1gnKp" src="https://img.alicdn.com/imgextra/i1/O1CN01fPAIee1a5pTIgKnuB_!!6000000003279-2-tps-48-48.png">
                            </div>
                            <div class="TrackingDetail--stepContent--2n0dtpG undefined TrackingDetail--stepContentHeadGrey--13kDuUL">
                                <span class="TrackingDetail--head--20GpNSP"><%= @events[:in_transit][:description] %></span>
                                <div class="TrackingDetail--timeInfoWrap--Ad4suAI">
                                    <div class="TrackingDetail--time--3ZQQn_H"><span class="TrackingDetail--timeText--3x08R3x"></span></div>
                                </div>
                            </div>
                          </div>



                          <% if @order.shipped? && @order.shipment_state == "shipped" %>
                          <div class="TrackingDetail--step--2sEzXUy">
                            <div class="TrackingDetail--verticalLine--3mb4BXa"></div>
                            <div class="TrackingDetail--iconCurrent--m_lTx8F">
                                <img class="TrackingDetail--stepIconImg--1B1gnKp" src="https://img.alicdn.com/imgextra/i4/O1CN01MZ8JBd1yVWTLbfuHQ_!!6000000006584-2-tps-48-48.png">
                            </div>
                            <div class="TrackingDetail--stepContent--2n0dtpG undefined">
                                <span class="TrackingDetail--head--20GpNSP TrackingDetail--headFirst--1mBxADn"><%= @events[:shipped][:description] %></span>
                                <div class="TrackingDetail--timeInfoWrap--Ad4suAI">
                                    <div class="TrackingDetail--time--3ZQQn_H">
                                        <span class="TrackingDetail--timeText--3x08R3x TrackingDetail--headFirst--1mBxADn"><%= @events[:shipped][:record_time].strftime('%Y-%m-%d %T') %></span>
                                    </div>
                                </div>
                                <% @events[:shipped][:shipments].each do |shipment| %>
                                <span class="TrackingDetail--text--3Odqdxz TrackingDetail--headFirst--1mBxADn">
                                    <% shipment[:manifest].each do |item| %>
                                        <%= mini_image(item.variant) unless item.variant.nil? %>
                                    <% end %>
                                </span>
                                <span class="TrackingDetail--text--3Odqdxz TrackingDetail--headFirst--1mBxADn"><%= "#{shipment[:carrier]} tracking number:" %></span>
                                <span class="TrackingDetail--text--3Odqdxz TrackingDetail--headFirst--1mBxADn"><%== shipment[:tracking_url].present? ? "<a href=\"#{shipment[:tracking_url]}\" class=\"text-success\" target=\"_blank\">#{shipment[:tracking]}</a>" : shipment[:tracking] %></span>
                                <% end %>
                            </div>
                          </div>
                          <% else %>
                          <div class="TrackingDetail--step--2sEzXUy">
                            <div class="TrackingDetail--verticalLine--3mb4BXa"></div>
                            <div class="TrackingDetail--iconCurrent--m_lTx8F">
                                <img class="TrackingDetail--stepIconImg--1B1gnKp" src="https://img.alicdn.com/imgextra/i1/O1CN01fPAIee1a5pTIgKnuB_!!6000000003279-2-tps-48-48.png">
                            </div>
                            <div class="TrackingDetail--stepContent--2n0dtpG undefined">
                                <span class="TrackingDetail--head--20GpNSP"><%= @events[:shipped][:description] %></span>
                                <div class="TrackingDetail--timeInfoWrap--Ad4suAI">
                                    <div class="TrackingDetail--time--3ZQQn_H">
                                        <span class="TrackingDetail--timeText--3x08R3x"></span>
                                    </div>
                                </div>
                            </div>
                          </div>
                          <% end %>



                          <% if @order.shipped? && @order.shipment_state == "partial" %>
                          <div class="TrackingDetail--step--2sEzXUy">
                            <div class="TrackingDetail--verticalLine--3mb4BXa"></div>
                            <div class="TrackingDetail--iconCurrent--m_lTx8F">
                                <img class="TrackingDetail--stepIconImg--1B1gnKp" src="https://img.alicdn.com/imgextra/i4/O1CN01MZ8JBd1yVWTLbfuHQ_!!6000000006584-2-tps-48-48.png">
                            </div>
                            <div class="TrackingDetail--stepContent--2n0dtpG undefined">
                                <span class="TrackingDetail--head--20GpNSP TrackingDetail--headFirst--1mBxADn"><%= @events[:partial_shipped][:description] %></span>
                                <div class="TrackingDetail--timeInfoWrap--Ad4suAI">
                                    <div class="TrackingDetail--time--3ZQQn_H">
                                        <span class="TrackingDetail--timeText--3x08R3x TrackingDetail--headFirst--1mBxADn"><%= @events[:partial_shipped][:record_time].strftime('%Y-%m-%d %T') %></span>
                                    </div>
                                </div>
                                <% @events[:partial_shipped][:shipments].each do |shipment| %>
                                <span class="TrackingDetail--text--3Odqdxz TrackingDetail--headFirst--1mBxADn">
                                    <% shipment[:manifest].each do |item| %>
                                        <%= mini_image(item.variant) unless item.variant.nil? %>
                                    <% end %>
                                </span>
                                <span class="TrackingDetail--text--3Odqdxz TrackingDetail--headFirst--1mBxADn"><%= "#{shipment[:carrier]} tracking number:" %></span>
                                <span class="TrackingDetail--text--3Odqdxz TrackingDetail--headFirst--1mBxADn"><%== shipment[:tracking_url].present? ? "<a href=\"#{shipment[:tracking_url]}\" class=\"text-success\" target=\"_blank\">#{shipment[:tracking]}</a>" : shipment[:tracking] %></span>
                                <% end %>
                            </div>
                          </div>
                          <% end %>



                          <% if @order.approved? %>
                          <div class="TrackingDetail--step--2sEzXUy">
                            <div class="TrackingDetail--verticalLine--3mb4BXa"></div>
                            <div class="TrackingDetail--iconNode--37DhYe-"><span class="TrackingDetail--iconNodeCircle--1l6Ys4-" data-spm-anchor-id="0.0.0.i0.43927e30fkEkoI"></span></div>
                            <div class="TrackingDetail--stepContent--2n0dtpG undefined">
                                <span class="TrackingDetail--head--20GpNSP TrackingDetail--headFirst--1mBxADn"><%= @events[:packing][:description] %></span>
                                <!-- <span class="TrackingDetail--text--3Odqdxz TrackingDetail--headFirst--1mBxADn">Carrier note: Export clearance success</span> -->
                                <div class="TrackingDetail--timeInfoWrap--Ad4suAI">
                                    <div class="TrackingDetail--time--3ZQQn_H">
                                        <span class="TrackingDetail--timeText--3x08R3x TrackingDetail--headFirst--1mBxADn"><%= @events[:packing][:record_time].strftime('%Y-%m-%d %T') %></span>
                                    </div>
                                </div>
                            </div>
                          </div>
                          <% else %>
                          <div class="TrackingDetail--step--2sEzXUy">
                            <div class="TrackingDetail--verticalLine--3mb4BXa"></div>
                            <div class="TrackingDetail--iconNode--37DhYe-"><span class="TrackingDetail--iconNodeCircle--1l6Ys4-" data-spm-anchor-id="0.0.0.i0.43927e30fkEkoI"></span></div>
                            <div class="TrackingDetail--stepContent--2n0dtpG undefined">
                                <span class="TrackingDetail--head--20GpNSP"><%= @events[:packing][:description] %></span>
                                <!-- <span class="TrackingDetail--text--3Odqdxz TrackingDetail--headFirst--1mBxADn">Carrier note: Export clearance success</span> -->
                                <div class="TrackingDetail--timeInfoWrap--Ad4suAI">
                                    <div class="TrackingDetail--time--3ZQQn_H">
                                        <span class="TrackingDetail--timeText--3x08R3x"></span>
                                    </div>
                                </div>
                            </div>
                          </div>
                          <% end %>



                          <div class="TrackingDetail--step--2sEzXUy">
                            <div class="TrackingDetail--iconNode--37DhYe-"><div class="TrackingDetail--verticalLine--3mb4BXa"></div><span class="TrackingDetail--iconNodeCircle--1l6Ys4-"></span></div>
                            <div class="TrackingDetail--stepContent--2n0dtpG undefined">
                                <span class="TrackingDetail--head--20GpNSP TrackingDetail--headFirst--1mBxADn"><%= @events[:submitted][:description] %></span>
                                <!-- <span class="TrackingDetail--text--3Odqdxz TrackingDetail--headFirst--1mBxADn">Carrier note: Export clearance success</span> -->
                                <div class="TrackingDetail--timeInfoWrap--Ad4suAI">
                                    <div class="TrackingDetail--time--3ZQQn_H">
                                        <span class="TrackingDetail--timeText--3x08R3x TrackingDetail--headFirst--1mBxADn"><%= @events[:submitted][:record_time].strftime('%Y-%m-%d %T') %></span>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
.TrackingDetail--wrapper--dYB8BZz .TrackingDetail--content--1z77zJa .TrackingDetail--trackList--3VTKVZH .TrackingDetail--shipSteps--kvxVRO1 .TrackingDetail--firstStep--dSIAnAW {
    color: #000;
}

.TrackingDetail--wrapper--dYB8BZz .TrackingDetail--content--1z77zJa .TrackingDetail--trackList--3VTKVZH .TrackingDetail--shipSteps--kvxVRO1 .TrackingDetail--step--2sEzXUy .TrackingDetail--stepContent--2n0dtpG .TrackingDetail--headFirst--1mBxADn, .TrackingDetail--wrapper--dYB8BZz .TrackingDetail--content--1z77zJa .TrackingDetail--trackList--3VTKVZH .TrackingDetail--shipSteps--kvxVRO1 .TrackingDetail--step--2sEzXUy .TrackingDetail--stepContent--2n0dtpG .TrackingDetail--text--3Odqdxz.TrackingDetail--headFirst--1mBxADn, .TrackingDetail--wrapper--dYB8BZz .TrackingDetail--content--1z77zJa .TrackingDetail--trackList--3VTKVZH .TrackingDetail--shipSteps--kvxVRO1 .TrackingDetail--step--2sEzXUy .TrackingDetail--stepContent--2n0dtpG .TrackingDetail--timeInfoWrap--Ad4suAI .TrackingDetail--time--3ZQQn_H .TrackingDetail--timeText--3x08R3x.TrackingDetail--headFirst--1mBxADn, .TrackingDetail--wrapper--dYB8BZz .TrackingDetail--content--1z77zJa .TrackingDetail--trackList--3VTKVZH .TrackingDetail--shipSteps--kvxVRO1 .TrackingDetail--step--2sEzXUy .TrackingDetail--stepContent--2n0dtpG .TrackingDetail--timeText--3x08R3x.TrackingDetail--headFirst--1mBxADn {
    color: #000!important;
}

.TrackingDetail--wrapper--dYB8BZz .TrackingDetail--content--1z77zJa .TrackingDetail--trackList--3VTKVZH .TrackingDetail--shipSteps--kvxVRO1 .TrackingDetail--firstStep--dSIAnAW .TrackingDetail--verticalLine--3mb4BXa {
    top: 7px;
}

.TrackingDetail--wrapper--dYB8BZz .TrackingDetail--content--1z77zJa .TrackingDetail--trackList--3VTKVZH .TrackingDetail--shipSteps--kvxVRO1 .TrackingDetail--step--2sEzXUy .TrackingDetail--verticalLine--3mb4BXa {
    position: absolute;
    left: 15px;
    top: 0;
    bottom: 0;
    z-index: 0;
    border-left: 1px solid #ccc;
}

.TrackingDetail--wrapper--dYB8BZz .TrackingDetail--content--1z77zJa .TrackingDetail--trackList--3VTKVZH .TrackingDetail--shipSteps--kvxVRO1 .TrackingDetail--step--2sEzXUy .TrackingDetail--iconNode--37DhYe- {
    width: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    position: relative;
    align-self: flex-start;
    padding-top: 7px;
}

.TrackingDetail--wrapper--dYB8BZz .TrackingDetail--content--1z77zJa .TrackingDetail--trackList--3VTKVZH .TrackingDetail--shipSteps--kvxVRO1 .TrackingDetail--step--2sEzXUy .TrackingDetail--iconNode--37DhYe- .TrackingDetail--iconNodeCircle--1l6Ys4- {
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #ccc;
    position: relative;
    z-index: 1;
    margin-left: 1px;
}

.TrackingDetail--wrapper--dYB8BZz .TrackingDetail--content--1z77zJa .TrackingDetail--trackList--3VTKVZH .TrackingDetail--shipSteps--kvxVRO1 .TrackingDetail--step--2sEzXUy {
    display: flex;
    position: relative;
    flex-direction: row;
    padding-bottom: 40px;
}

.TrackingDetail--wrapper--dYB8BZz .TrackingDetail--content--1z77zJa .TrackingDetail--trackList--3VTKVZH .TrackingDetail--shipSteps--kvxVRO1 .TrackingDetail--step--2sEzXUy .TrackingDetail--iconCurrentCenter--2s1WA_v {
    justify-content: center;
}

.TrackingDetail--wrapper--dYB8BZz .TrackingDetail--content--1z77zJa .TrackingDetail--trackList--3VTKVZH .TrackingDetail--shipSteps--kvxVRO1 .TrackingDetail--step--2sEzXUy .TrackingDetail--iconCurrent--m_lTx8F .TrackingDetail--verticalLine--3mb4BXa {
    position: absolute;
    left: 15px;
    top: 0;
    bottom: 3px;
    z-index: 0;
    border-left: 1px solid #ccc;
}

.TrackingDetail--wrapper--dYB8BZz .TrackingDetail--content--1z77zJa .TrackingDetail--trackList--3VTKVZH .TrackingDetail--shipSteps--kvxVRO1 .TrackingDetail--step--2sEzXUy .TrackingDetail--iconCurrent--m_lTx8F .TrackingDetail--stepIconImg--1B1gnKp {
    width: 30px;
    height: 30px;
    z-index: 1;
    position: relative;
}

.TrackingDetail--wrapper--dYB8BZz .TrackingDetail--content--1z77zJa .TrackingDetail--trackList--3VTKVZH .TrackingDetail--shipSteps--kvxVRO1 .TrackingDetail--step--2sEzXUy .TrackingDetail--stepContent--2n0dtpG {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    flex: 1;
}

.TrackingDetail--wrapper--dYB8BZz .TrackingDetail--content--1z77zJa .TrackingDetail--trackList--3VTKVZH .TrackingDetail--shipSteps--kvxVRO1 .TrackingDetail--step--2sEzXUy .TrackingDetail--stepContent--2n0dtpG .TrackingDetail--head--20GpNSP {
    font-weight: 500;
    color: #999;
    line-height: 21px;
}

.TrackingDetail--wrapper--dYB8BZz .TrackingDetail--content--1z77zJa .TrackingDetail--trackList--3VTKVZH .TrackingDetail--shipSteps--kvxVRO1 .TrackingDetail--step--2sEzXUy .TrackingDetail--stepContent--2n0dtpG .TrackingDetail--text--3Odqdxz {
    font-size: 14px;
    color: #999;
    white-space: pre-line;
    word-break: break-word;
    line-height: 18px;
}

.TrackingDetail--wrapper--dYB8BZz .TrackingDetail--content--1z77zJa .TrackingDetail--trackList--3VTKVZH .TrackingDetail--shipSteps--kvxVRO1 .TrackingDetail--step--2sEzXUy .TrackingDetail--stepContent--2n0dtpG .TrackingDetail--timeInfoWrap--Ad4suAI {
    display: flex;
    flex-direction: row;
}

.TrackingDetail--wrapper--dYB8BZz .TrackingDetail--content--1z77zJa .TrackingDetail--trackList--3VTKVZH .TrackingDetail--shipSteps--kvxVRO1 .TrackingDetail--step--2sEzXUy .TrackingDetail--stepContent--2n0dtpG .TrackingDetail--timeInfoWrap--Ad4suAI .TrackingDetail--time--3ZQQn_H {
    color: #999;
}

.TrackingDetail--wrapper--dYB8BZz .TrackingDetail--content--1z77zJa .TrackingDetail--trackList--3VTKVZH .TrackingDetail--shipSteps--kvxVRO1 .TrackingDetail--step--2sEzXUy .TrackingDetail--stepContent--2n0dtpG .TrackingDetail--timeInfoWrap--Ad4suAI .TrackingDetail--time--3ZQQn_H .TrackingDetail--timeText--3x08R3x {
    font-size: 14px;
    line-height: 18px;
    color: #999;
}

</style>