<%= render partial: 'spree/shared/error_messages', locals: {target: @contact} %>

<div class="contact-us">
  <div class="container">
    <div class="row">
      <div class="col-12 pt-lg-2 text-center text-lg-left">
        <div class="px-3 px-lg-0 pt-lg-1 my-5 contact-us-header"><h2>Order Status</h2></div>
      </div>
      <div class="col-12 col-lg-5 text-lg-left pb-5">
        <p>Using the form on the right, simply enter the e-mail address you used to place your order.
          We will fetch and display your order and status along
          with any special notes that may have been added.
        </p>
        <p>If you have any questions, please <a href="<%= @contact_link.present? ? @contact_link : '/pages/contact-us' %>" class="text-danger"> contact us</a> or email us at
          <a href="mailto: <%= current_store.contact_email %>" class="text-danger"><%= current_store.contact_email %></a></p>
      </div>
      <div class="col-12 col-lg-6 mt-lg-0">
        <div class="jumbotron">
          <p id="status-error" class="text-danger"></p>
          <p id="status-text" class="text-info"></p>
          <%= form_with url: order_status_path, html: {novalidate: ''} do |f| %>
            <div class="form-group">
              <label>E-mail address</label>
              <%= f.text_field :email, class: 'required col-12 mb-1 mb-lg-2', placeholder: true, required: true %>
            </div>
            <div class="form-group">
              <%= f.submit Spree.t(:send), alt: Spree.t(:send), id: 'contact_us_contact_submit', title: Spree.t(:send),
                           class: 'col-7 col-lg-4 mb-4 mb-lg-0 btn btn-primary text-uppercase font-weight-bold'
              %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>